Repository TEAM-SAMSION/Backend, pull requests merged in 2023-09, with the labels that each got.

#38 PET-88 feat : Todo, User 관련 모듈 추가
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/.gitkeep
  Domain-Module/Todo-Module/Todo-Application/src/test/java/com/pawith/todoapplication/.gitkeep
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/.gitkeep
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/.gitkeep
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/sim/todopresentation/.gitkeep
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/sim/todopresentation/.gitkeep
  Domain-Module/User-Module/User-Presentation/src/main/java/com/pawith/userpresentation/.gitkeep
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/.gitkeep
  settings.gradle
Labels: ⚙ Setting

#39 Pet 89 feat : 사용자 권한 확인 API 추가
  Api-Module/build.gradle
  Api-Module/src/docs/asciidoc/Index.adoc
  Auth-Module/Auth-Adaptor/src/main/java/com/pawith/authmodule/config/security/JWTAuthenticationToken.java
  Auth-Module/Auth-Adaptor/src/test/java/com/pawith/authmodule/adaptor/api/OAuthControllerTest.java
  Common-Module/src/main/java/com/pawith/commonmodule/annotation/ApplicationService.java
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/application/handler/UserSignUpHandler.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/application/service/UserAuthorityGetUseCase.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/application/service/dto/UserAuthorityInfoResponse.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/user/application/handler/UserSignUpHandlerTest.java
  Domain-Module/User-Module/User-Domain/build.gradle
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/entity/Authority.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/entity/UserAuthority.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/exception/UserAuthorityNotFoundException.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/repository/UserAuthorityRepository.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/service/UserAuthorityQueryService.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/service/UserAuthoritySaveService.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/utils/UserUtils.java
  Domain-Module/User-Module/User-Presentation/build.gradle
  Domain-Module/User-Module/User-Presentation/src/docs/asciidoc/User-API.adoc
  Domain-Module/User-Module/User-Presentation/src/main/java/com/pawith/userpresentation/.gitkeep
  Domain-Module/User-Module/User-Presentation/src/main/java/com/pawith/userpresentation/UserAuthorityController.java
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/.gitkeep
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/TestSpringBootApplicationConfig.java
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/UserAuthorityControllerTest.java
Labels: 🐞 BugFix, 📃 Docs, ✨ Feature, 🔨 Refactor

#40 Pet 91 AppleOAuthHandler 예외처리 수정
  Auth-Module/Auth-Application/src/main/java/com/pawith/authmodule/application/port/out/command/handler/impl/AppleOAuthHandler.java
Labels: 🔨 Refactor

#41 Pet 92 refactor : Test-Module 제거 및 testFixture 패키지 추가
  Auth-Module/Auth-Adaptor/build.gradle
  Auth-Module/Auth-Adaptor/src/test/java/com/pawith/authmodule/adaptor/api/OAuthControllerTest.java
  Auth-Module/build.gradle
  Common-Module/Test-Module/build.gradle
  Common-Module/build.gradle
  Common-Module/src/main/java/com/pawith/commonmodule/util/SecurityUtils.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/BaseRestDocsTest.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/RestDocsConfig.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/application/service/UserAuthorityGetUseCase.java
  Domain-Module/User-Module/User-Domain/build.gradle
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/utils/UserUtils.java
  Domain-Module/User-Module/User-Presentation/build.gradle
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/UserAuthorityControllerTest.java
  build.gradle
  gradle/restdocs.gradle
  gradle/spring.gradle
  gradle/test.gradle
  settings.gradle
Labels: 🔨 Refactor, ⚙ Setting

#43 Pet 93 test : Unit Test용 애노테이션 및 테스트 환경에서 SecurityContextHolder에 인증 사용자 정보 주입 애노테이션 추가
  Auth-Module/Auth-Application/src/test/java/com/pawith/auth/application/JWTExtractEmailServiceTest.java
  Auth-Module/Auth-Application/src/test/java/com/pawith/auth/application/JWTExtractTokenServiceTest.java
  Auth-Module/Auth-Application/src/test/java/com/pawith/auth/application/JWTVerifyServiceTest.java
  Auth-Module/Auth-Application/src/test/java/com/pawith/auth/application/OAuthServiceTest.java
  Auth-Module/JWT/src/test/java/com/pawith/jwt/JWTProviderTest.java
  Auth-Module/build.gradle
  Common-Module/build.gradle
  Common-Module/src/main/java/com/pawith/commonmodule/util/SecurityUtils.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/UnitTestConfig.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/security/WithMockAuthUser.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/security/WithMockAuthUserSecurityContextFactory.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/usermodule/application/handler/UserSignUpHandlerTest.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/usermodule/application/service/UserAuthorityGetUseCaseTest.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/domain/entity/UserAuthority.java
  Domain-Module/User-Module/User-Domain/src/test/java/com/pawith/usermodule/domain/service/UserAuthorityQueryServiceTest.java
  Domain-Module/User-Module/User-Domain/src/test/java/com/pawith/usermodule/domain/service/UserAuthoritySaveServiceTest.java
  Domain-Module/User-Module/User-Domain/src/test/java/com/pawith/usermodule/domain/service/UserQueryServiceTest.java
  Domain-Module/User-Module/User-Domain/src/test/java/com/pawith/usermodule/domain/service/UserSaveServiceTest.java
  Domain-Module/User-Module/User-Presentation/build.gradle
  Domain-Module/User-Module/build.gradle
  gradle/test.gradle
Labels: ✅ Test, 🔨 Refactor, ⚙ Setting

#44 Pet 96 Entity 생성
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/.gitkeep
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Assign.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Authority.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Category.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/CategoryStatus.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Pet.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Register.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Todo.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/TodoStatus.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/TodoTeam.java
  Domain-Module/Todo-Module/build.gradle
Labels: ✨ Feature

#46 PET-94 fix : Token BaseEntity 설정
  Auth-Module/Auth-Domain/src/main/java/com/pawith/jwt/domain/entity/Token.java
Labels: 🐞 BugFix

#47 Pet 98 chore : 로그 분석기 통합 설정
  .deploy/docker-compose.yml
  .deploy/promtail.yaml
  .github/workflows/CD.yml
  .gitignore
  Api-Module/src/main/resources/logback.xml
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/LogAspect.java
Labels: 🌏 Deploy&Infra, ⚙ Setting

#48 PET-98 fix : logback scan 수정
  Api-Module/src/main/resources/logback.xml
Labels: 🐞 BugFix

#51 Pet 99 feat : Todo 도메인 Repository 추가
  Domain-Module/Todo-Module/Todo-Application/build.gradle
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/.gitkeep
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/AssignRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/CategoryRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/PetRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoTeamRepository.java
  Domain-Module/Todo-Module/Todo-Presentation/build.gradle
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/.gitkeep
Labels: ✨ Feature

#52 Pet 99 feat : TodoTeam 조회 및 탈퇴 API 추가
  Api-Module/build.gradle
  Api-Module/src/docs/asciidoc/Index.adoc
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Common-Module/src/main/java/com/pawith/commonmodule/slice/SliceResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoTeamSimpleResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/UnregisterUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/build.gradle
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Register.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/NotRegisterUserException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/TodoException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/TodoTeamNotFoundException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterDeleteService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamQueryService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/RegisterController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/.gitkeep
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/RegisterControllerTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoTeamControllerTest.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/utils/UserUtils.java
Labels: 📃 Docs, ✨ Feature, ✅ Test

#53 Pet 102 refactor : 로그 ID 공유하게 수정
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/LogAspect.java
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/LogTrace.java
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/TraceStatus.java
  Log-Module/Log-Webclient/.gitignore
  Log-Module/Log-Webclient/build.gradle
  Log-Module/Log-Webclient/src/main/java/com/pawith/log/webclient/LogDataProcessor.java
  Log-Module/Log-Webclient/src/main/java/com/pawith/log/webclient/LogDataSender.java
  Log-Module/Log-Webclient/src/main/java/com/pawith/log/webclient/SaveLogRequest.java
Labels: 🔨 Refactor

#55 PET-104 feat : Image-Module 생성
  Common-Module/src/main/java/com/pawith/commonmodule/config/S3Config.java
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Domain-Module/Image-Module/Image-Application/build.gradle
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/exception/FileDeleteException.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/exception/FileExtentionException.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/exception/FileUploadException.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/service/ImageDeleteUseCase.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/service/ImageUploadUseCase.java
  Domain-Module/Image-Module/Image-Application/src/test/java/com/pawith/imageapplication/.gitkeep
  Domain-Module/Image-Module/build.gradle
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Pet.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/entity/User.java
  gradle/spring.gradle
  settings.gradle
Labels: ✨ Feature

#56 Pet 103 feat : 사용자 정보 조회 API 추가
  Common-Module/src/main/java/com/pawith/commonmodule/cache/LocalObjectRegistry.java
  Common-Module/src/main/java/com/pawith/commonmodule/cache/ObjectRegistry.java
  Common-Module/src/main/java/com/pawith/commonmodule/exception/GlobalExceptionHandler.java
  Common-Module/src/main/java/com/pawith/commonmodule/observer/observer/Observer.java
  Common-Module/src/main/java/com/pawith/commonmodule/observer/subject/Status.java
  Common-Module/src/main/java/com/pawith/commonmodule/observer/subject/Subject.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/dto/OAuthRequest.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/dto/OAuthResponse.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/dto/OAuthUserInfo.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/dto/Provider.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/OAuthUseCase.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/OAuthInvoker.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/AuthHandler.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/AppleOAuthHandler.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/GoogleOAuthHandler.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/KakaoOAuthHandler.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/NaverOAuthHandler.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/OAuthService.java
  Domain-Module/Auth-Module/Auth-Application/src/test/java/com/pawith/authapplication/application/OAuthServiceTest.java
  Domain-Module/Auth-Module/Auth-Presentation/src/main/java/com/pawith/authpresentation/OAuthController.java
  Domain-Module/Auth-Module/Auth-Presentation/src/test/java/com/pawith/authpresentation/OAuthControllerTest.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/config/S3Config.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/dto/request/UserNicknameChangeRequest.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/dto/response/UserAuthorityInfoResponse.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/dto/response/UserInfoResponse.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/service/UserAuthorityGetUseCase.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/service/UserInfoGetUseCase.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/service/UserNicknameChangeUseCase.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/usermodule/application/service/UserAuthorityGetUseCaseTest.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/usermodule/entity/UserAuthority.java
  Domain-Module/User-Module/User-Presentation/src/docs/asciidoc/User-API.adoc
  Domain-Module/User-Module/User-Presentation/src/main/java/com/pawith/userpresentation/UserAuthorityController.java
  Domain-Module/User-Module/User-Presentation/src/main/java/com/pawith/userpresentation/UserController.java
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/UserAuthorityControllerTest.java
  Domain-Module/User-Module/User-Presentation/src/test/java/com/pawith/userpresentation/UserControllerTest.java
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/LogAspect.java
  Log-Module/Log-Aop/src/main/java/com/pawith/log/aop/LogTrace.java
Labels: ✨ Feature, ✅ Test

#57 Pet 103 fix : Auth-API.adoc 경로 수정
  Api-Module/src/docs/asciidoc/Index.adoc
Labels: 🐞 BugFix

#58 Pet 105 feat : Nginx 설정 추가
  .deploy/docker-compose.yml
  .deploy/nginx/docker-compose.yml
  .deploy/nginx/nginx.conf
  .github/workflows/Nginx-CD.yml
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoTeamSimpleResponse.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoTeamControllerTest.java
Labels: 🌏 Deploy&Infra

#59 Pet 100 Todo 달성률 조회 API
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoProgressResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoRateGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/RegisterNotFoundException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/CategoryRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/CategoryQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoHomeController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoHomeControllerTest.java
Labels: ✨ Feature, ✅ Test

#62 Pet 108 feat : Todo 모임 생성, 등록 및 모임 코드 생성 API 추가
  .github/docs/Dependency.png
  Api-Module/build.gradle
  Api-Module/src/docs/asciidoc/Index.adoc
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Common-Module/src/testFixtures/java/com/pawith/commonmodule/BaseRestDocsTest.java
  Domain-Module/Image-Module/Image-Application/build.gradle
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/dto/request/ImageUploadListRequest.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/dto/request/ImageUploadRequest.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/dto/response/ImageUploadListResponse.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/dto/response/ImageUploadResponse.java
  Domain-Module/Image-Module/Image-Application/src/main/java/com/pawith/imageapplication/service/ImageUploadUseCase.java
  Domain-Module/Image-Module/Image-Domain/build.gradle
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/exception/FileDeleteException.java
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/exception/FileExtentionException.java
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/exception/FileUploadException.java
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/service/ImageDeleteService.java
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/service/ImageUploadService.java
  Domain-Module/Image-Module/Image-Infrastructure/build.gradle
  Domain-Module/Image-Module/Image-Infrastructure/src/main/java/com/pawith/imageinfrastructure/config/S3Config.java
  Domain-Module/Image-Module/Image-Infrastructure/src/main/java/com/pawith/imageinfrastructure/service/S3ImageDeleteServiceImpl.java
  Domain-Module/Image-Module/Image-Infrastructure/src/main/java/com/pawith/imageinfrastructure/service/S3ImageUploadServiceImpl.java
  Domain-Module/Image-Module/Image-Presentation/build.gradle
  Domain-Module/Image-Module/Image-Presentation/src/docs/asciidoc/Image-API.adoc
  Domain-Module/Image-Module/Image-Presentation/src/main/java/com/pawith/imagepresentation/ImageController.java
  Domain-Module/Image-Module/Image-Presentation/src/test/java/com/pawith/imagepresentation/ImageControllerTest.java
  Domain-Module/Todo-Module/Todo-Application/build.gradle
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/request/PetRegisterRequest.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/request/TodoTeamCreateRequest.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoTeamRandomCodeResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/mapper/PetMapper.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/mapper/TodoTeamMapper.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamCreateUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamRandomCodeGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamRegisterUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Pet.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Register.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/TodoTeam.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/AlreadyRegisterTodoTeamException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoTeamRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/PetSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamCodeGenerateService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamSaveService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/RegisterController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/RegisterControllerTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoTeamControllerTest.java
  Domain-Module/User-Module/User-Application/build.gradle
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/usermodule/service/UserProfileImageUpdateUseCase.java
  README.md
  settings.gradle
Labels: ✨ Feature, ✅ Test

#61 Pet 107 달성률 조회 API 수정, 최근에 가입한 팀 조회 API 추가
  Common-Module/src/main/java/com/pawith/commonmodule/exception/Error.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoTeamNameSimpleResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoRateGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/exception/TodoNotFoundException.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/AssignRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoHomeController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoHomeControllerTest.java
Labels: ✨ Feature, ✅ Test

#65 Pet 112 refactor : Todo 팀 생성시 이미지 파일 비동기적으로 처리되도록 수정
  Domain-Module/Image-Module/Image-Domain/src/main/java/com/pawith/imagedomain/service/ImageUploadService.java
  Domain-Module/Image-Module/Image-Infrastructure/src/main/java/com/pawith/imageinfrastructure/service/S3ImageUploadServiceImpl.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/request/PetRegisterRequest.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamCreateUseCase.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoTeamControllerTest.java
Labels: 🔨 Refactor

#66 Pet 113 할당받은 Todo 조회 API
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoHomeResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/AssignRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoHomeController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoHomeControllerTest.java
Labels: ✨ Feature, ✅ Test

#67 Pet 115 Controller Entity별로 생성, 시간 처리 Domain Service쪽에서 처리하도록 수정
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoRateGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/service/AssignQueryServiceTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoControllerTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoTeamControllerTest.java
Labels: ✅ Test, 🔨 Refactor

#68 Pet 117 refactor : Todo 완료율 리팩터링
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoRateGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/service/AssignQueryServiceTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/userapplication/service/UserNicknameChangeUseCaseTest.java
Labels: 🔨 Refactor

#69 Pet 116 Todo 조회 쿼리 최적화
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/AssignRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/service/AssignQueryServiceTest.java
Labels: 🔨 Refactor

#70 PET 117 refactor : findTodayTodo 쿼리 수정
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
Labels: 🔨 Refactor

#71 PET-119 fix : Kakao 소셜로그인 응답값 받는 inner class 수정
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/KakaoOAuthHandler.java
Labels: 🐞 BugFix

#72 Pet 120 refactor : Todo Team 조회 API 성능 개선
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/handler/impl/KakaoOAuthHandler.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoTeamSimpleResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/mapper/TodoTeamMapper.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoRateGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamCreateUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamRegisterUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/UnregisterUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoTeamRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/CategoryQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/PetSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/service/RegisterQueryServiceTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoTeamController.java
Labels: 🔨 Refactor

#73 Pet 121 feat : TodoTeam 등록된 사용자 조회 및 Todo 생성 API 추가
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/request/TodoCreateRequest.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/RegisterListResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/RegisterSimpleInfoResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/mapper/TodoMapper.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/RegistersGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoCreateUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/entity/Todo.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignSaveService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/CategoryQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoSaveService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/RegisterController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/RegisterControllerTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoControllerTest.java
  Domain-Module/User-Module/User-Domain/src/main/java/com/pawith/userdomain/service/UserQueryService.java
Labels: ✨ Feature

#75 PET 124 투두 리스트 조회 API 추가
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/AssignSimpleInfoResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoListResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoRateCompareResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoSimpleResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/RegisterRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/TodoRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoQueryService.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoControllerTest.java
Labels: ✨ Feature, ✅ Test

#76 Pet 127 feat : 로그아웃 API 추가
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/config/FeignClientConfig.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/consts/AuthConsts.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/consts/IgnoredPathConsts.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/LogoutUseCase.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/command/OAuthInvoker.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/JWTExtractEmailUseCaseImpl.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/JWTExtractTokenUseCaseImpl.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/JWTVerifyUseCaseImpl.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/LogoutUseCaseImpl.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/service/impl/OAuthUseCaseImpl.java
  Domain-Module/Auth-Module/Auth-Application/src/main/java/com/pawith/authapplication/utils/TokenExtractUtils.java
  Domain-Module/Auth-Module/Auth-Application/src/test/java/com/pawith/authapplication/application/JWTExtractEmailUseCaseImplTest.java
  Domain-Module/Auth-Module/Auth-Application/src/test/java/com/pawith/authapplication/application/JWTExtractTokenUseCaseImplTest.java
  Domain-Module/Auth-Module/Auth-Application/src/test/java/com/pawith/authapplication/application/JWTVerifyServiceTest.java
  Domain-Module/Auth-Module/Auth-Application/src/test/java/com/pawith/authapplication/application/OAuthUseCaseImplTest.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/entity/Token.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/jwt/JWTProvider.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/service/TokenDeleteService.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/service/TokenQueryService.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/service/impl/TokenDeleteServiceImpl.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/service/impl/TokenQueryServiceImpl.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/service/impl/TokenSaveServiceImpl.java
  Domain-Module/Auth-Module/Auth-Domain/src/test/java/com/pawith/authdomain/jwt/JWTProviderTest.java
  Domain-Module/Auth-Module/Auth-Presentation/src/docs/asciidoc/Auth-API.adoc
  Domain-Module/Auth-Module/Auth-Presentation/src/main/java/com/pawith/authpresentation/OAuthController.java
  Domain-Module/Auth-Module/Auth-Presentation/src/main/java/com/pawith/authpresentation/common/security/filter/JWTAuthenticationFilter.java
  Domain-Module/Auth-Module/Auth-Presentation/src/test/java/com/pawith/authpresentation/OAuthControllerTest.java
  Domain-Module/Todo-Module/Todo-Application/src/test/java/com/pawith/todoapplication/service/TodoGetUseCaseTest.java
  Domain-Module/Todo-Module/Todo-Application/src/test/java/com/pawith/todoapplication/service/TodoRateGetUseCaseTest.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/.gitkeep
Labels: ✨ Feature, ✅ Test
