Repository TEAM-SAMSION/Backend, pull requests merged in 2024-01, with the labels that each got.

#197 PET-284 docs : Infra Diagram 추가
  .github/docs/infra-diagram.png
  README.md
Labels: 📃 Docs

#198 Pet 285 feat : RegisterUtils, AssignUtils 추가 및 리팩터링
  Alarm-Module/src/main/java/com/pawith/alarmmodule/repository/AlarmBatchRepository.java
  Alarm-Module/src/main/java/com/pawith/alarmmodule/repository/impl/AlarmBatchRepositoryImpl.java
  Alarm-Module/src/main/java/com/pawith/alarmmodule/service/AlarmService.java
  Common-Module/src/main/java/com/pawith/commonmodule/event/UserAccountDeleteEvent.java
  Common-Module/src/main/java/com/pawith/commonmodule/event/UserSignUpEvent.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/jwt/JWTProvider.java
  Domain-Module/Auth-Module/Auth-Domain/src/main/java/com/pawith/authdomain/jwt/TokenType.java
  Domain-Module/Auth-Module/Auth-Domain/src/test/java/com/pawith/authdomain/jwt/JWTProviderTest.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/handler/UserAccountDeleteOnTodoHandler.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/RegistersGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoTeamGetUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/test/java/com/pawith/todoapplication/service/TodoGetUseCaseTest.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/TodoTeamCodeManageService.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/util/AssignUtils.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/util/RegisterUtils.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/userapplication/handler/UserSignUpHandler.java
  Domain-Module/User-Module/User-Application/src/main/java/com/pawith/userapplication/mapper/UserMapper.java
  Domain-Module/User-Module/User-Application/src/test/java/com/pawith/userapplication/handler/UserSignUpHandlerTest.java
Labels: ✨ Feature, 🔨 Refactor

#199 Pet 257 refactor : 검증 API 수정
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/TodoValidateResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/dto/response/ValidateResponse.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoValidationUseCase.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/UnregisterUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/RegisterValidateService.java
  Domain-Module/Todo-Module/Todo-Domain/src/test/java/com/pawith/tododomain/service/RegisterValidateServiceTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/docs/asciidoc/Todo-API.adoc
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/RegisterController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/main/java/com/pawith/todopresentation/TodoController.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/RegisterControllerTest.java
  Domain-Module/Todo-Module/Todo-Presentation/src/test/java/com/pawith/todopresentation/TodoControllerTest.java
Labels: ✅ Test, 🔨 Refactor

#202 Pet 286 refactor : 과반수 이상 투두 완료시 알림 생성 로직 리팩터링
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/handler/TodoRemindHandler.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/handler/UserAccountDeleteOnTodoHandler.java
  Domain-Module/Todo-Module/Todo-Application/src/main/java/com/pawith/todoapplication/service/TodoGetUseCase.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/AssignQueryRepository.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/repository/dao/IncompleteAssignInfoDao.java
  Domain-Module/Todo-Module/Todo-Domain/src/main/java/com/pawith/tododomain/service/AssignQueryService.java
  Domain-Module/Todo-Module/Todo-Infrastructure/src/main/java/com/pawith/todoinfrastructure/dao/IncompleteAssignInfoDaoImpl.java
  Domain-Module/Todo-Module/Todo-Infrastructure/src/main/java/com/pawith/todoinfrastructure/repository/AssignRepositoryImpl.java
Labels: 🔨 Refactor
